body{
    font-family: 'Times New Roman', Times, serif;
}
.site-heading-lower{
    font-family: 'Times New Roman', Times, serif;
}
.mb-3{
    font-family: 'Times New Roman', Times, serif;
}
a{
    font-family: 'Times New Roman', Times, serif;
}
#mainNav{
    background-color: #ff0000a9;
}